* {
  margin: 0;
  padding: 0;
  font-family: "Oswald";
  font-style: normal;
}

body {
  width: 1440px;
  height: 1000px;
  max-width: max-content;
  margin: 300px auto;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0 0 120px;
}

body header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 800px;
}

body header .logo .img {
  background-image: url(./img.svg/IMAGE.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 93px;
  height: 32px;
  margin-right: 30px;
}

body header .logo p {
  color: #000;
  font: 400 14px "Oswald";
}

body header .login-btn {
  margin: -13px 0 0 300px;
  border-radius: 30px;
  background: #0057ff;
  width: 193px;
  height: 52px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font: 400 14px "Oswald";
}

body main{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 134px 0 0 120px;
}

body main .img2{
  background-image: url(./img.svg/76584930-.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 540px;
  height: 589px;
}